{
  "openapi": "3.1.0",
  "info": {
    "title": "Trados Data Bridge API",
    "version": "1.0",
    "description": "The Trados Data Bridge API.",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.eu.cloud.trados.com/data-api/v1",
      "description": "EU Region Server"
    },
    {
      "url": "https://api.ca.cloud.trados.com/data-api/v1",
      "description": "CA Region Server"
    }
  ],
  "tags": [
    {
      "name": "File Translation Status Data Set",
      "description": "File Translation Status Data Set"
    },
    {
      "name": "Language Revenue Details Data Set",
      "description": "Language Revenue Details Data Set"
    },
    {
      "name": "Language Revenues Data Set",
      "description": "Language Revenues Data Set"
    },
    {
      "name": "Task Status Data Set",
      "description": "Task Status Data Set"
    },
    {
      "name": "Translation Leverage Data Set",
      "description": "Translation Leverage Data Set"
    },
    {
      "name": "Translation Quality Evaluation Data Set",
      "description": "Translation Quality Evaluation Data Set"
    },
    {
      "name": "Vendor Costs Data Set",
      "description": "Vendor Costs Data Set"
    }
  ],
  "paths": {
    "/fts/file-translation-statuses": {
      "get": {
        "summary": "List File Translation Metrics",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFileTranslationMetrics",
        "description": "Endpoint to fetch file translation status metrics, including item count and details.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/expand"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/fact-fts"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      },
      "parameters": []
    },
    "/fts/projects": {
      "get": {
        "summary": "List FTS Project Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSProjectDimension",
        "description": "Retrieves the project dimension present in the file translation status dataset.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "number",
                      "default": 0
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-project"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ]
      }
    },
    "/fts/customers": {
      "get": {
        "summary": "List FTS Customer Dimension",
        "operationId": "ListFTSCustomerDimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "description": "Retrieves the customer dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-customer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/fts/language-pairs": {
      "get": {
        "summary": "List FTS Language Pair Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSLanguagePairDimension",
        "description": "Retrieves the language pair dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-language-pair"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/fts/source-files": {
      "get": {
        "summary": "List FTS Source File Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSSourceFileDimension",
        "description": "Retrieves the source file dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-source-file"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/fts/project-creation-dates": {
      "get": {
        "summary": "List FTS Project Creation Date Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSProjectCreationDateDimension",
        "description": "Retrieves the project creation date dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-date"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/fts/translation-dates": {
      "get": {
        "summary": "List FTS Translation Date Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSTranslationDateDimension",
        "description": "Retrieves the translation date dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-date"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/fts/translators": {
      "get": {
        "summary": "List FTS Translator Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSTranslatorDimension",
        "description": "Retrieves the translator dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-translator"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/fts/review-dates": {
      "get": {
        "summary": "List FTS Review Date Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSReviewDateDimension",
        "description": "Retrieves the review date dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-date"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/fts/reviewers": {
      "get": {
        "summary": "List FTS Reviewer Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSReviewerDimension",
        "description": "Retrieves the linguistic reviewer dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-reviewer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/fts/customer-review-dates": {
      "get": {
        "summary": "List FTS Customer Review Date Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSCustomerReviewDateDimension",
        "description": "Retrieves the customer review date dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-date"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/fts/customer-reviewers": {
      "get": {
        "summary": "List FTS Customer Reviewer Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSCustomerReviewerDimension",
        "description": "Retrieves the customer reviewer dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-customer-reviewer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/fts/finalization-dates": {
      "get": {
        "summary": "List FTS Finalization Date Dimension",
        "tags": [
          "File Translation Status Data Set"
        ],
        "operationId": "ListFTSFinalizationDateDimension",
        "description": "Retrieves the finalization date dimension present in the file translation status dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-date"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/task-status/task-statuses": {
      "get": {
        "summary": "List Task Status Metrics",
        "operationId": "ListTaskStatusMetrics",
        "description": "Endpoint to fetch task status metrics.\r\n\r\n",
        "tags": [
          "Task Status Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/fact-task-status"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/task-status/customers": {
      "get": {
        "summary": "List Task Status Customer Dimension",
        "operationId": "ListTaskStatusCustomerDimension",
        "description": "Retrieves the customer dimension present in the Task Status dataset.\r\n\r\n",
        "tags": [
          "Task Status Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-customer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/task-status/language-pairs": {
      "get": {
        "summary": "List Task Status Language Pair Dimension",
        "operationId": "ListTaskStatusLanguagePairDimension",
        "description": "Retrieves the language pair dimension present in the Task Status dataset.\r\n\r\n",
        "tags": [
          "Task Status Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-language-pair"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/task-status/projects": {
      "get": {
        "summary": "List Task Status Project Dimension",
        "operationId": "ListTaskStatusProjectDimension",
        "description": "Retrieves the project dimension present in task status dataset.\r\n\r\n",
        "tags": [
          "Task Status Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "$ref": "#/components/schemas/dim-project"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/task-status/source-files": {
      "get": {
        "summary": "List Task Status Source File Dimension",
        "operationId": "ListTaskStatusSourceFileDimension",
        "description": "Retrieves the source file dimension present in the Task Status dataset.\r\n\r\n",
        "tags": [
          "Task Status Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-source-file"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/task-status/task-owners": {
      "get": {
        "summary": "List Task Status Task Owner Dimension",
        "operationId": "ListTaskStatusTaskOwnerDimension",
        "description": "Retrieves the task owner dimension present in the Task Status dataset.\r\n",
        "tags": [
          "Task Status Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-owner"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/task-status/task-types": {
      "get": {
        "summary": "List Task Status Task Type Dimension",
        "operationId": "ListTaskStatusTaskTypeDimension",
        "description": "Retrieves the task types dimension present in the Task Status dataset.\r\n",
        "tags": [
          "Task Status Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-task-types"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/task-status/task-states": {
      "get": {
        "summary": "List Task Status Task State Dimension",
        "operationId": "ListTaskStatusTaskStateDimension",
        "description": "Retrieves the task states dimension present in the Task Status dataset.\r\n",
        "tags": [
          "Task Status Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-task-states"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/vendor-costs/vendor-costs": {
      "get": {
        "summary": "List Vendor Costs Metrics",
        "operationId": "ListVendorCostsMetrics",
        "description": "Endpoint to fetch vendor costs metrics, including item count and details",
        "tags": [
          "Vendor Costs Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/expand"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/fact-vendor-costs"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/vendor-costs/projects": {
      "get": {
        "summary": "List Vendor Costs Project Dimension",
        "operationId": "ListVendorCostsProjectDimension",
        "description": "Retrieves the project dimensions present in the vendor costs dataset.\r\n\r\n",
        "tags": [
          "Vendor Costs Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "$ref": "#/components/schemas/dim-project"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/vendor-costs/customers": {
      "get": {
        "summary": "List Vendor Costs Customer Dimension",
        "operationId": "ListVendorCostsCustomerDimension",
        "description": "Retrieves the customer dimensions present in the vendor costs dataset.\r\n\r\n",
        "tags": [
          "Vendor Costs Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-customer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/vendor-costs/language-pairs": {
      "get": {
        "summary": "List Vendor Costs Language Pair Dimension",
        "operationId": "ListVendorCostsLanguagePairDimension",
        "description": "Retrieves the language pair dimension present in the vendor costs dataset.\r\n\r\n",
        "tags": [
          "Vendor Costs Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-language-pair"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/vendor-costs/currencies": {
      "get": {
        "summary": "List Vendor Costs Currency Dimension",
        "operationId": "ListVendorCostsCurrencyDimension",
        "description": "Retrieves the currency dimension present in the vendor costs dataset.\r\n\r\n",
        "tags": [
          "Vendor Costs Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-currency"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/vendor-costs/vendor-order-templates": {
      "get": {
        "summary": "List Vendor Costs Order Template Dimension",
        "operationId": "ListVendorCostsOrderTemplateDimension",
        "description": "Retrieves the vendor order template dimension present in the vendor costs dataset.\r\n",
        "tags": [
          "Vendor Costs Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-vendor-order-template"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/vendor-costs/service-types": {
      "get": {
        "summary": "List Vendor Costs Service Type Dimension",
        "operationId": "ListVendorCostsServiceTypeDimension",
        "description": "Retrieves the service types dimension present in the vendor costs dataset.\r\n",
        "tags": [
          "Vendor Costs Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-service-types"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/tqe/translation-quality-evaluations": {
      "get": {
        "summary": "List Translation Quality Evaluation Metrics",
        "operationId": "ListTranslationQualityEvaluationMetrics",
        "tags": [
          "Translation Quality Evaluation Data Set"
        ],
        "description": "Endpoint to fetch translation quality evaluation (TQE) metrics.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/fact-tqe"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/tqe/projects": {
      "get": {
        "summary": "List TQE Project Dimension",
        "tags": [
          "Translation Quality Evaluation Data Set"
        ],
        "operationId": "ListTQEProjectDimension",
        "description": "Retrieves the project dimension present in the Translation Quality Evaluation(TQE) dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-project"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/tqe/customers": {
      "get": {
        "summary": "List TQE Customer Dimension",
        "operationId": "ListTQECustomerDimension",
        "tags": [
          "Translation Quality Evaluation Data Set"
        ],
        "description": "Retrieves the customer dimension present in the Translation Quality Evaluation(TQE) dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-customer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/tqe/language-pairs": {
      "get": {
        "summary": "List TQE Language Pair Dimension",
        "tags": [
          "Translation Quality Evaluation Data Set"
        ],
        "operationId": "ListTQELanguagePairDimension",
        "description": "Retrieves the language pair dimension present in the Translation Quality Evaluation(TQE) dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-language-pair"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/tqe/source-files": {
      "get": {
        "summary": "List TQE Source File Dimension",
        "tags": [
          "Translation Quality Evaluation Data Set"
        ],
        "operationId": "ListTQESourceFileDimension",
        "description": "Retrieves the source file dimension present in the Translation Quality Evaluation(TQE) dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-source-file"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/tqe/linguists": {
      "get": {
        "summary": "List TQE Linguist Dimension",
        "operationId": "ListTQELinguistDimension",
        "description": "Retrieves the Linguist dimension present in the Translation Quality Evaluation(TQE) dataset.",
        "tags": [
          "Translation Quality Evaluation Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-linguist"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/tqe/final-translation-origins": {
      "get": {
        "summary": "List TQE Final Translation Origin Dimension",
        "operationId": "ListTQEFinalTranslationOriginDimension",
        "description": "Retrieves the Final Translation origin dimension present in the Translation Quality Evaluation(TQE) dataset.",
        "tags": [
          "Translation Quality Evaluation Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "description": "Final Translation Origin dimension\r\n\r\n",
                      "items": {
                        "$ref": "#/components/schemas/dim-translation-origin"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/tqe/original-translation-origins": {
      "get": {
        "summary": "List TQE Original Translation Origin Dimension",
        "operationId": "ListTQEOriginalTranslationOriginDimension",
        "description": "Retrieves the Original Translation origin dimension present in the Translation Quality Evaluation(TQE) dataset.",
        "tags": [
          "Translation Quality Evaluation Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "description": "Original Translation Origin dimension\r\n\r\n",
                      "items": {
                        "$ref": "#/components/schemas/dim-translation-origin"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/tqe/translation-quality-evaluation-categories": {
      "get": {
        "summary": "List TQE Evaluation Category Dimension",
        "operationId": "ListTQEEvaluationCategoryDimension",
        "description": "Retrieves the Translation Quality Evaluation Category dimension present in the Translation Quality Evaluation(TQE) dataset.",
        "tags": [
          "Translation Quality Evaluation Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-tqe-category"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        }
      }
    },
    "/tqe/task-types": {
      "get": {
        "summary": "List TQE Task Type Dimension",
        "operationId": "ListTQETaskTypeDimension",
        "description": "Retrieves the Task Types dimension present in the Translation Quality Evaluation(TQE) dataset.",
        "tags": [
          "Translation Quality Evaluation Data Set"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-task-types"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/language-revenue-details/language-revenue-details": {
      "get": {
        "summary": "List Language Revenue Details Metrics",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/fact-language-revenue-details"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "itemCount": "string",
                      "items": [
                        {
                          "quoteDateId": 20240203,
                          "customerId": 132445,
                          "projectId": 123467,
                          "languagePairId": 678954,
                          "revenueTypeId": 23940,
                          "currencyId": 59,
                          "projectCreationDateId": 20240202,
                          "numberOfUnits": 100,
                          "revenue": 0.7
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        },
        "operationId": "ListLanguageRevenueDetailsMetrics",
        "description": "Retrieves the revenue details metrics present in the language revenue details dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/expand"
          }
        ],
        "tags": [
          "Language Revenue Details Data Set"
        ]
      }
    },
    "/language-revenue-details/projects": {
      "get": {
        "summary": "List Language Revenue Details Project Dimension",
        "tags": [
          "Language Revenue Details Data Set"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-project"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "itemCount": 1,
                      "items": [
                        {
                          "internalId": 11,
                          "projectId": "uuid",
                          "projectShortId": 11,
                          "projectName": "Test",
                          "projectDescription": "",
                          "projectLocationId": "3f7e792b23d5494f8ce8fb73f796dbc7",
                          "projectGroupId": "groupid",
                          "projectGroupShortId": 1,
                          "projectGroupName": "Test group",
                          "projectStatus": "in_progress",
                          "projectTemplateId": "templateuuid",
                          "projectTemplateName": "Template test",
                          "originSystem": "LCUI",
                          "sourceLanguage": "en-EN",
                          "targetLanguages": "fr-FR",
                          "createdAt": "2023-11-21T09:59:54Z",
                          "quoteCreatedAt": "9999-12-31T00:00:00Z",
                          "quoteApprovedAt": "2499-12-31T00:00:00Z",
                          "completedAt": "2499-12-31T00:00:00Z",
                          "dueAt": "2023-11-28T11:00:36Z",
                          "deliveredAt": "9999-12-31T00:00:00Z",
                          "projectSegmentCount": 6,
                          "projectWordCount": 21,
                          "projectCharacterCount": 70,
                          "projectFileCount": 1,
                          "projectRevenue": 0,
                          "projectSavings": 0,
                          "projectCurrencyCode": "EUR",
                          "deliveryTimeDiff": 0,
                          "onTimeStatus": "VERY_EARLY",
                          "projectCreatorName": "Test",
                          "projectCreatorId": "31231231231",
                          "deleted": false,
                          "customFields": "cf1=abc"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        },
        "operationId": "ListLanguageRevenueDetailsProjectDimension",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "description": "Retrieves the projects present in the language revenue details dataset."
      }
    },
    "/language-revenue-details/customers": {
      "get": {
        "summary": "List Language Revenue Details Customer Dimension",
        "tags": [
          "Language Revenue Details Data Set"
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-customer"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "itemCount": 1,
                      "items": [
                        {
                          "internalId": 123,
                          "customerId": "abc123abc123abc123",
                          "customerLocationId": "locationid",
                          "customerName": "Customer name",
                          "createdBy": "N/A",
                          "createdAt": "2023-04-11T10:30:50Z",
                          "keyContactId": "contactId",
                          "keyContactEmail": "contact email",
                          "ragStatusName": "Green",
                          "customFields": "custom field=abc",
                          "deleted": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        },
        "operationId": "ListLanguageRevenueDetailsCustomerDimension",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "description": "Retrieves the customers present in the language revenue details dataset."
      },
      "parameters": []
    },
    "/language-revenue-details/language-pairs": {
      "get": {
        "summary": "List Language Revenue Details Language Pair Dimension",
        "tags": [
          "Language Revenue Details Data Set"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-language-pair"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "itemCount": 1,
                      "items": [
                        {
                          "internalId": 1,
                          "sourceLanguageCode": "en-GI",
                          "sourceEnglishName": "English (Gibraltar)",
                          "sourceParentLanguageCode": "en",
                          "targetLanguageCode": "tk",
                          "targetEnglishName": "Turkmen",
                          "targetParentLanguageCode": "N/A"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        },
        "operationId": "ListLanguageRevenueDetailsLanguagePairDimension",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "description": "Retrieves the language pairs present in the language revenue details dataset."
      }
    },
    "/language-revenue-details/revenue-types": {
      "get": {
        "summary": "List Language Revenue Details Revenue Type Dimension",
        "tags": [
          "Language Revenue Details Data Set"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-revenue-type"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "itemCount": 0,
                      "items": [
                        {
                          "internalId": 2,
                          "name": "0.25 hours for minimum charge",
                          "category": "language",
                          "type": "Hourly",
                          "unit": "Hour"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        },
        "operationId": "ListLanguageRevenueDetailsRevenueTypeDimension",
        "description": "Retrieves the revenue types present in the language revenue details dataset.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ]
      },
      "parameters": []
    },
    "/language-revenue-details/quote-dates": {
      "get": {
        "summary": "List Language Revenue Details Quote Date Dimension",
        "tags": [
          "Language Revenue Details Data Set"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-date"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "itemCount": 1,
                      "items": [
                        {
                          "internalId": 20000101,
                          "year": 2000,
                          "month": 1,
                          "day": 1,
                          "dayOfWeek": 7,
                          "dayOfWeekName": "Saturday",
                          "monthName": "January",
                          "dayOfYear": 1,
                          "quarter": 1,
                          "yearNumber": "2000",
                          "monthNumber": "1",
                          "fullDate": "2000-01-01"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        },
        "operationId": "ListLanguageRevenueDetailsQuoteDateDimension",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "description": "Retrieves the quote dates present in the language revenue details dataset."
      }
    },
    "/language-revenue-details/project-creation-dates": {
      "get": {
        "summary": "List Language Revenue Details Project Creation Date Dimension",
        "tags": [
          "Language Revenue Details Data Set"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-date"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "itemCount": 1,
                      "items": [
                        {
                          "internalId": 20000101,
                          "year": 2000,
                          "month": 1,
                          "day": 1,
                          "dayOfWeek": 7,
                          "dayOfWeekName": "Saturday",
                          "monthName": "January",
                          "dayOfYear": 1,
                          "quarter": 1,
                          "yearNumber": "2000",
                          "monthNumber": "1",
                          "fullDate": "2000-01-01"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        },
        "operationId": "ListLanguageRevenueDetailsProjectCreationDateDimension",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "description": "Retrieves the project creation dates present in the language revenue details dataset."
      }
    },
    "/language-revenue-details/currencies": {
      "get": {
        "summary": "List Language Revenue Details Currency Dimension",
        "tags": [
          "Language Revenue Details Data Set"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-currency"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "itemCount": 1,
                      "items": [
                        {
                          "internalId": 698582,
                          "name": "Euro",
                          "code": "EUR",
                          "symbol": "€"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error-model-400"
          },
          "401": {
            "$ref": "#/components/responses/error-model-401"
          },
          "403": {
            "$ref": "#/components/responses/error-model-403"
          }
        },
        "operationId": "ListLanguageRevenueDetailsCurrencyDimension",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "description": "Retrieves the currencies present in the language revenue details dataset."
      }
    },
    "/language-revenues/customers": {
      "get": {
        "summary": "List Language Revenues Customer Dimension",
        "tags": [
          "Language Revenues Data Set"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemCount": {
                      "type": "integer"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/dim-customer"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "itemCount": 1,
                      "items": [
                        {
                          "internalId": 123,
                          "customerId": "abc123abc123abc123",
                          "customerLocationId": "locationid",
                          "customerName": "Customer name",
                          "createdBy": "N/A",
                          "createdAt": "2023-04-11T10:30:50Z",
                          "keyContactId": "contactId",
                          "keyContactEmail": "contact email",
                          "ragStatusName": "Green",
                          "customFields": "custom field=abc",
[...]
