{
  "openapi": "3.1.0",
  "info": {
    "title": "Trados Cloud Platform API",
    "description": "The Trados Cloud Platform API",
    "version": "1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.eu.cloud.trados.com/public-api/v1",
      "description": "EU Region Server"
    },
    {
      "url": "https://api.ca.cloud.trados.com/public-api/v1",
      "description": "CA Region Server"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Account"
    },
    {
      "name": "Connected AI",
      "description": "Connected AI"
    },
    {
      "name": "Custom Field",
      "description": "Custom Field"
    },
    {
      "name": "Customer",
      "description": "Customer"
    },
    {
      "name": "File",
      "description": "File"
    },
    {
      "name": "File Processing Configuration",
      "description": "File Processing Configuration"
    },
    {
      "name": "Folder",
      "description": "Folder"
    },
    {
      "name": "Group",
      "description": "Group"
    },
    {
      "name": "Integration",
      "description": "Integration"
    },
    {
      "name": "Language",
      "description": "Language"
    },
    {
      "name": "Language Processing",
      "description": "Language Processing"
    },
    {
      "name": "Machine Translation",
      "description": "Machine Translation"
    },
    {
      "name": "PerfectMatch Mapping",
      "description": "PerfectMatch Mapping"
    },
    {
      "name": "Pricing Model",
      "description": "Pricing Model"
    },
    {
      "name": "Project",
      "description": "Project"
    },
    {
      "name": "Project Group",
      "description": "Project Group"
    },
    {
      "name": "Project Template",
      "description": "Project Template"
    },
    {
      "name": "Public Keys",
      "description": "Public Keys"
    },
    {
      "name": "Quote",
      "description": "Quote"
    },
    {
      "name": "Rate Limits",
      "description": "Rate Limits"
    },
    {
      "name": "Roles",
      "description": "Roles"
    },
    {
      "name": "Schedule Template",
      "description": "Schedule Template"
    },
    {
      "name": "Source File",
      "description": "Source File"
    },
    {
      "name": "Target File",
      "description": "Target File"
    },
    {
      "name": "Task",
      "description": "Task"
    },
    {
      "name": "Task Type",
      "description": "Task Type"
    },
    {
      "name": "Termbase",
      "description": "Termbase"
    },
    {
      "name": "Termbase Export",
      "description": "Termbase Export"
    },
    {
      "name": "Termbase Import",
      "description": "Termbase Import"
    },
    {
      "name": "Termbase Template",
      "description": "Termbase Template"
    },
    {
      "name": "TQA Profile",
      "description": "TQA Profile"
    },
    {
      "name": "Translation",
      "description": "Translation"
    },
    {
      "name": "Translation Domain",
      "description": "Translation Domain"
    },
    {
      "name": "Translation Engine",
      "description": "Translation Engine"
    },
    {
      "name": "Translation Memory",
      "description": "Translation Memory"
    },
    {
      "name": "Translation Memory Export",
      "description": "Translation Memory Export"
    },
    {
      "name": "Translation Memory Import",
      "description": "Translation Memory Import"
    },
    {
      "name": "User",
      "description": "User"
    },
    {
      "name": "Workflow",
      "description": "Workflow"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List my Accounts",
        "description": "Retrieves the accounts the authenticated user is part of. \n\n> For service users only the account where the user is defined is returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-my-accounts-response"
                },
                "examples": {
                  "ListAccountsWithDefaultFields": {
                    "value": {
                      "itemCount": 2,
                      "items": [
                        {
                          "id": "test-account-id-1",
                          "name": "test-account-name-1"
                        },
                        {
                          "id": "test-account-id-1",
                          "name": "test-account-name-2"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "message": "test-unauthorized-error-message",
                      "errorCode": "test-unauthorized-error-code",
                      "name": "test-unauthorized-error-name",
                      "value": "test-unauthorized-error-value",
                      "details": [
                        {
                          "name": "test-unauthorized-error-details-message",
                          "code": "test-unauthorized-error-details-code",
                          "value": "test-unauthorized-error-details-value"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "ListMyAccounts"
      }
    },
    "/applications": {
      "post": {
        "summary": "Create Application",
        "tags": [
          "Integration"
        ],
        "responses": {
          "201": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                }
              }
            }
          },
          "400": {
            "description": "Error codes:\r\n* \"invalid\": Invalid input in the query parameter mentioned in the “name” field on the error response.\r\n* \"maxSize\": The maximum size was exceeded for the value mentioned in the \"name\" field\r\n* \"empty\": Empty mandatory value mentioned in the \"name\" field on the error response.\r\n",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          }
        },
        "operationId": "CreateApplication",
        "description": "Creates a new integration application.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/application-create-request"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ]
      },
      "get": {
        "summary": "List Applications",
        "tags": [
          "Integration"
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-applications-response"
                }
              }
            }
          },
          "400": {
            "description": "Error codes:\r\n* \"invalid\": Invalid input in the query parameter mentioned in the \"name\" field on the error response.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          }
        },
        "operationId": "ListApplications",
        "description": "Retrieves a list of applications the authenticated user has access to.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          }
        ]
      }
    },
    "/applications/{applicationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/applicationId"
        }
      ],
      "put": {
        "summary": "Update Application",
        "tags": [
          "Integration"
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\r\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "404": {
            "description": "Error codes:\r\n* \"notFound\": the resource could not be found by identifier.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          }
        },
        "operationId": "UpdateApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "description": "Updates an integration application.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/application-update-request"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Application",
        "tags": [
          "Integration"
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application"
                }
              }
            }
          },
          "400": {
            "description": "Error codes:\r\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "404": {
            "description": "Error codes:\r\n* \"notFound\": the resource could not be found by identifier.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          }
        },
        "operationId": "GetApplication",
        "description": "Retrieves an integration application by identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ]
      },
      "delete": {
        "summary": "Delete Application",
        "tags": [
          "Integration"
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "404": {
            "description": "Error codes:\r\n* \"notFound\": The resource could not be found by identifier.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          }
        },
        "operationId": "DeleteApplication",
        "description": "Deletes an integration application.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ]
      }
    },
    "/connected-ai/llm-configurations": {
      "get": {
        "summary": "List LLM Configurations",
        "tags": [
          "Connected AI"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-llm-configurations-response"
                }
              }
            }
          },
          "400": {
            "description": "\"invalid\": Invalid input in the query parameter mentioned in the \"name\" field on the error response.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          }
        },
        "operationId": "ListLlmConfigurations",
        "description": "List the account configured Large Language Models.",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ]
      }
    },
    "/customers/{customerId}": {
      "put": {
        "tags": [
          "Customer"
        ],
        "summary": "Update Customer",
        "description": "Updates a customer by identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer-update-request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content\n",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes: \n* “invalid”: Invalid input in “name” field on the error response.\n* \"deleted\": Some of the selected values were deleted and cannot be selected for some values of the  \"customFields\" field.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.\n\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes: \n* \"forbidden\": the authenticated user is not allowed to read the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes:\n* \"notFound\": the resource could not be found by identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "409": {
            "description": "Error codes:\n* \"duplicate\": duplicate name of a customer is not allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "UpdateCustomer"
      },
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Get Customer",
        "description": "Retrieves a customer by identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes: \n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.\n\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes: \n* \"forbidden\": the authenticated user is not allowed to read the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes:\n* \"notFound\": the resource could not be found by identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "GetCustomer"
      },
      "delete": {
        "tags": [
          "Customer"
        ],
        "summary": "Delete Customer",
        "description": "Deletes a customer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": the authenticated user is not allowed to delete the customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes:\n* \"notFound\": the customer could not be found by identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "409": {
            "description": "Error codes:\n* \"conflict\": there might be resources that are still `attached`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "DeleteCustomer"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/customerId"
        }
      ]
    },
    "/customers": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "List Customers",
        "description": "Retrieves a list of all the customers in an account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/location-strategy"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-customers-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* \"invalid\": Invalid input in the query parameter mentioned in the \"name\" field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "416": {
            "description": "Error codes:\n* \"requestedRangeNotSatisfiable\":  The requested entity or one of it's dependencies attempted to retrieve data outside the allowed range. Skip+Top might be outside the supported range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "ListCustomers"
      },
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Create Customer",
        "description": "Create customer in a tenant.\n\nFor adding a customer to a tenant the authenticated user must have 'Create Customer' permission.\n\nTo also create an account for the key contact, you need to have the specific entitlements.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer-create-request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The customer was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                },
                "examples": {
                  "minimal": {
                    "value": {
                      "id": "string"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error responses:\n\n* “invalid”: invalid input specified in the error details.\n* \"empty\": empty input for required field specified in the error details.\n* \"maxSize\": The maximum size was exceeded for the value mentioned in the \"name\" field. \n* \"deleted\": Some of the selected values were deleted and cannot be selected for some values of the  \"customFields\" field.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n\"forbidden\": \n- The authenticated user is not allowed to create a customer or if you intend to create the key contact account, you might not have sufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "408": {
            "description": "Error responses:\n\n  * \"timeout\": The request took longer than expected. The system might be overloaded. You might try again.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "409": {
            "description": "Error responses:\n\n* “duplicate”: duplicate value for the field mentioned in the error details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "CreateCustomer"
      }
    },
    "/custom-field-definitions": {
      "get": {
        "summary": "List Custom Field Definitions",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-custom-field-definitions-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* \"invalid\": Invalid input in the query parameter mentioned in the \"name\" field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified. ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "416": {
            "description": "Error codes:\n* \"requestedRangeNotSatisfiable\":  The requested entity or one of it's dependencies attempted to retrieve data outside the allowed range. Skip+Top might be outside the supported range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "ListCustomFields",
        "description": "Retrieves a list of all the custom field definitions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/location-strategy"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "tags": [
          "Custom Field"
        ]
      }
    },
    "/custom-field-definitions/{customFieldDefinitionId}": {
      "get": {
        "summary": "Get Custom Field Definition",
        "tags": [
          "Custom Field"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-field-definition"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* \"invalid\": Invalid input in the query parameter mentioned in the \"name\" field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": the authenticated user is not allowed to get the custom field definition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes:\n* \"notFound\": the resource could not be found by identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "GetCustomField",
        "description": "Retrieves a Custom Field by identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/customFieldDefinitionId"
        }
      ]
    },
    "/file-processing-configurations/{fileProcessingConfigurationId}": {
      "get": {
        "tags": [
          "File Processing Configuration"
        ],
        "summary": "Get File Processing Configuration",
        "description": "Retrieves a file processing configuration by identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/file-processing-configuration"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": not allowed to read file processing configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes\n* \"notFound\": file processing configuration could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "GetFileProcessingConfiguration"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/fileProcessingConfigurationId"
        }
      ]
    },
    "/file-processing-configurations": {
      "get": {
        "tags": [
          "File Processing Configuration"
        ],
        "summary": "List File Processing Configurations",
        "description": "Retrieves a list of all the file processing configurations in an account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/location-strategy"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-file-processing-configurations-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "416": {
            "description": "Error codes:\n* \"requestedRangeNotSatisfiable\":  the requested entity or one of it's dependencies attempted to retrieve data outside the allowed range. Skip+Top might be outside the supported range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "ListFileProcessingConfigurations"
      }
    },
    "/file-processing-configurations/{fileProcessingConfigurationId}/file-type-settings/{fileTypeSettingId}": {
      "get": {
        "tags": [
          "File Processing Configuration"
        ],
        "summary": "Get File Type Setting",
        "description": "Retrieves a file type setting by identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/file-type-setting"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": not allowed to read file type setting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes\n* \"notFound\": file type setting could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "GetFileTypeSetting"
      },
      "parameters": [
        {
          "name": "fileProcessingConfigurationId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The file processing configuration identifier."
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "fileTypeSettingId",
          "in": "path",
          "required": true,
          "description": "The file type setting identifier."
        }
      ]
    },
    "/file-processing-configurations/{fileProcessingConfigurationId}/file-type-settings": {
      "get": {
        "tags": [
          "File Processing Configuration"
        ],
        "summary": "List File Type Settings",
        "description": "Retrieves a list of all the file type settings in a file processing configuration.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-file-type-settings-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "ListFileTypeSettings"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "fileProcessingConfigurationId",
          "in": "path",
          "required": true,
          "description": "The file processing configuration identifier."
        }
      ]
    },
    "/files": {
      "post": {
        "summary": "Upload Zip File",
        "description": "Uploads an archive containing source files in `.zip` format, which will be extracted and used during project creation.\n\nStatus of the upload operation can be tracked using the [Poll Upload Zip File](#/operations/PollUploadZipFile) endpoint.\n\nOnce this Upload Zip File operation has finished extracting the files, they can be added to the desired project using the [Attach Source Files](#/operations/AddSourceFiles) endpoint. Alternatively, they can be used to [Request File Analysis](#/operations/RequestFileAnalysis) details like word counts and estimated costs.\n\n\nConsider the [file and project size limit](https://docs.rws.com/791595/815967/trados-enterprise---accelerate/file-and-project-size-limit) when uploading files.",
        "operationId": "UploadZipFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "format": "byte",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The .zip file to be uploaded (binary string).  "
                  }
                }
              }
            }
          },
          "description": "For details on multipart requests please see [this article](../docs/How-to-multipart.html)."
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/file-upload-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error code “invalid” in case of:\n * Empty or missing file in request\n * Not valid multipart request\n * File parameter contains other extension than the one expected by specification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "tags": [
          "File"
        ]
      },
      "parameters": []
    },
    "/files/analysis": {
      "post": {
        "summary": "Request File Analysis",
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/file-analysis-operation-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\r\n* “invalid”: Invalid input in the request body parameter mentioned in the “name” field on the error response.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "403": {
            "description": "Error codes:\r\n* \"forbidden\": the authenticated user is not allowed to read resource.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "404": {
            "description": "Error codes:\r\n* \"notFound\": the resource could not be found.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          }
        },
        "operationId": "RequestFileAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileIds",
                  "sourceLanguage",
                  "languageProcessingRuleId"
                ],
                "properties": {
                  "fileIds": {
                    "type": "array",
                    "description": "The file identifiers for which the analysis will be performed.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sourceLanguage": {
                    "$ref": "#/components/schemas/source-language-request",
                    "description": "The source language."
                  },
                  "languageProcessingRuleId": {
                    "type": "string",
                    "description": "The identifier of the Language Processing Rule to be used when determining word count."
                  },
                  "fileProcessingConfigurationId": {
                    "type": "string",
                    "description": "The identifier of the File Processing Configuration to be used when converting a file for analysis.<br> \r\nA default configuration will be used if not specified."
                  },
                  "quotingOptions": {
                    "type": "object",
                    "description": "Set these resources to calculate an estimated translation cost.",
                    "required": [
                      "pricingModelId",
                      "targetLanguages"
                    ],
                    "properties": {
                      "pricingModelId": {
                        "type": "string",
                        "description": "The identifier of the Pricing Model to be used when calculating the cost."
                      },
                      "targetLanguages": {
                        "type": "array",
                        "description": "The target languages for which the cost will be calculated.",
                        "items": {
                          "$ref": "#/components/schemas/target-language-request"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This endpoint allows you to request the word count and an estimated cost for your files. \r\n\r\nUse the [Upload Zip File](#/operations/UploadZipFile) / [Poll Upload Zip File](#/operations/PollUploadZipFile) endpoints to upload your files and get the `fileIds`. Send these `fileIds` together with the `languageProcessingRuleId` and `sourceLanguage` to receive the word count.\r\n\r\nOptionally, send the `quotingOptions` object to receive the `estimatedCosts`.\r\n\r\nUse the [Poll File Analysis](#/operations/PollFileAnalysis) endpoint to monitor the operation and receive the analysis results.\r\n\r\n> File analysis results will be available for 24 hours after generation.",
        "tags": [
          "File"
        ]
      },
      "parameters": []
    },
    "/files/analysis/{operationId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "operationId",
          "in": "path",
          "required": true,
          "description": "The file analysis operation identifier."
        }
      ],
      "get": {
        "summary": "Poll File Analysis",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/file-analysis-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\r\n* “invalid”: invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "403": {
            "description": "Error codes:\r\n* \"forbidden\": the authenticated user is not allowed to read resource.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "404": {
            "description": "Error codes:\r\n* \"notFound\": the quoting operation could not be found.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          }
        },
        "operationId": "PollFileAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "description": "Monitor the [File Analysis](#/operations/RequestFileAnalysis) operation and receive the analysis results.\r\n\r\n> File analysis results will be available for 24 hours after generation.",
        "tags": [
          "File"
        ]
      }
    },
    "/files/{fileId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "fileId",
          "in": "path",
          "required": true,
          "description": "The uploaded file id"
        }
      ],
      "get": {
        "summary": "Poll Upload Zip File",
        "operationId": "PollUploadZipFile",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/file-metadata-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": The authenticated user is not allowed to read uploaded files.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes:\n* \"notFound\": the file could not be found by id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "description": "Monitors the unzipping operation for a previously uploaded archive and retrieves details about the extracted files.\r\n\r\nOnce the [Upload Zip File](#/operations/UploadZipFile) operation has finished extracting the files, they can be added to the desired project using the [Attach Source Files](#/operations/AddSourceFiles) endpoint.\r\n Alternatively, they can be used to [Request File Analysis](#/operations/RequestFileAnalysis) details like word counts and estimated costs.\r\n",
        "tags": [
          "File"
        ]
      }
    },
    "/folders/{folderId}": {
      "get": {
        "tags": [
          "Folder"
        ],
        "summary": "Get Folder",
        "description": "Retrieves a folder by identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/folder"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": the authenticated user is not allowed to read the folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes:\n* \"notFound\": the Folder could not be found by identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "GetFolder"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/folderId"
        }
      ]
    },
    "/folders/root": {
      "get": {
        "tags": [
          "Folder"
        ],
        "summary": "Get Root Folder",
        "description": "Retrieves the Root folder in the account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/folder"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": the authenticated user is not allowed to read the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "GetRootFolder"
      }
    },
    "/folders": {
      "get": {
        "tags": [
          "Folder"
        ],
        "summary": "List Folders",
        "description": "Retrieves a list of all the folders in an account. Max 500.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter folders by name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-folders-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "ListFolders"
      }
    },
    "/groups/{groupId}": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "Get Group",
        "description": "Retrieves a group by identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/group"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": the authenticated user is not allowed to read the Group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes:\n* \"notFound\": the Group could not be found by identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "GetGroup"
      },
      "put": {
        "tags": [
          "Group"
        ],
        "summary": "Update Group",
        "description": "Updates a group by . We recommend reading this page too [Updating data with PUT](../docs/Updating-data-with-PUT.html).",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/group-update-request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content\n",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.\n* “maxSize”: Character number or List size exceeds the maximum allowed value for the “name” field on the error response.\n* “minSize”: Character number or List size insufficient for the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": the authenticated user is not allowed to read the Group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes:\n* \"notFound\": the Group could not be found by identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "409": {
            "description": "Error codes:\n* \"conflict\": the request is conflicting with existing data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "UpdateGroup"
      },
      "delete": {
        "tags": [
          "Group"
        ],
        "summary": "Delete Group",
        "description": "Deletes a group by identifier.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content\n",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": the authenticated user is not allowed to delete the Group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "DeleteGroup"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/groupId"
        }
      ]
    },
    "/groups": {
      "get": {
        "tags": [
          "Group"
        ],
        "summary": "List Groups",
        "description": "Retrieves a list of all the groups in an account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/location-strategy"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-groups-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "416": {
            "description": "Error codes:\n* \"requestedRangeNotSatisfiable\":  The requested entity or one of it's dependencies attempted to retrieve data outside the allowed range. Skip+Top might be outside the supported range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "ListGroups"
      },
      "post": {
        "tags": [
          "Group"
        ],
        "summary": "Create Group",
        "description": "Creates a group. Group roles will take effect based on the location, where the group is being created. Read more at [How to use location and folders](../docs/How-to-use-location-and-folders.html).",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/group-create-request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/group"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the parameter mentioned in the “name” field on the error response.\n* “maxSize”: Character number or List size exceeds the maximum allowed value for the “name” field on the error response.\n* “minSize”: Character number or List size insufficient for the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "403": {
            "description": "Error codes:\n* \"forbidden\": the authenticated user is not allowed create a group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "404": {
            "description": "Error codes:\n* \"notFound\": the Location/Roles could not be found by identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "409": {
            "description": "Error codes:\n* \"conflict\": the request is conflicting with existing data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "CreateGroup"
      }
    },
    "/languages": {
      "get": {
        "tags": [
          "Language"
        ],
        "summary": "List Languages",
        "description": "Retrieves a list of all the languages.\n\nThe supported values for language `type` filter are: \"all\", \"specific\" or \"neutral\".\\\nThe \"neutral\" languages are the generic languages, e.g.: en -> English.\\\nThe \"specific\" languages are the sub-languages, e.g.: en-150 -> English (Europe), en-us -> English (United States).",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "name": "languageCodes",
            "in": "query",
            "description": "Filter by language codes.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by type.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "specific",
                "neutral"
              ],
              "example": "specific"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-languages-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            }
          }
        },
        "operationId": "ListLanguages"
      }
    },
    "/language-processing-rules": {
      "get": {
        "summary": "List Language Processing Rules",
        "tags": [
          "Language Processing"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list-language-processing-rules"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "400": {
            "description": "Error codes:\n* “invalid”: Invalid input in the query parameter mentioned in the “name” field on the error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "401": {
            "description": "The user could not be identified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          },
          "416": {
            "description": "Error codes:\n* \"requestedRangeNotSatisfiable\":  The requested entity or one of it's dependencies attempted to retrieve data outside the allowed range. Skip+Top might be outside the supported range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-response"
                }
              }
            },
            "headers": {
              "X-LC-TraceId": {
                "$ref": "#/components/headers/X-LC-TraceId"
              }
            }
          }
        },
        "operationId": "ListLanguageProcessingRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/X-LC-Tenant"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/location"
          },
          {
            "$ref": "#/components/parameters/location-strategy"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "description": "Returns a list of Language Processing Rules."
      }
    },
    "/language-processing-rules/{languageProcessingRuleId}": {
      "get": {
        "summary": "Get Language Processing Rule",
        "tags": [
          "Language Processing"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
[...]
